{% extends "default.html" %}

{% block title %}
<title>Otus shop</title>
<meta name="description" content="One of otus shops from homeworks">
{% endblock %}

{% block content %}
<main class="margin-top-20px">
    <div class="container">
        <div class="row">
            <div class="align-center border-bottom-1px margin-bottom-20px">
                <h1 class="margin-10px"><a class="display-4 text-color-dark-gray text-decoration-none" href="/">The
                    Shop</a></h1>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row"><a href="/catalog/" class="btn btn-primary btn-sm align-center">Перейти к каталогу</a></div>
    </div>
</main>
{% endblock %}