{% load staticfiles %}
<div class="col-12 col-sm-4 col-md-3">
    <div class="padding-10px">
        <a href="/catalog/{{ item.id }}/"><img src="{% static item.image_url %}" class="card-img-top"
                                            alt="{{ item.title }}"></a>
        <div class="card-body">
            <h5 class="card-title lead"><a href="/catalog/{{ item.id }}/">{{ item.title }}</a></h5>
            <p><small><a href="/catalog/{{ item.category.path_name }}/">{{ item.category.title }}</small></p>
            <p class="card-text text-muted">{{ item.caption|slice:":60" }}...</p>
            <p class="lead">{{ item.price }} руб.</p>
        </div>
    </div>
</div>